<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="content">
    <img src="../../assets/images/side-img.jpg" alt="side-img" id="side-img">
    <div class="right-side">
        <div class="form-container">
            <div class="header">
                <h1>Mesa Verde Bank</h1>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                <h2>Join Us</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" formControlName="username">

                <label for="cin">Cin:</label>
                <input type="text" id="cin" name="cin" formControlName="cin" >

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" formControlName="password" >

                <label for="repeat-password">Repeat Password:</label>
                <input type="password" id="repeat-password" name="repeat-password" formControlName="repeatPassword" >

                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <button type="submit" >Signup</button>
                <span>Already have an account ? <a href="/login">Login</a></span>
            </form>
        </div>
    </div>
</div>