<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h1 class="title" *ngIf="param === 'all'">Welcome {{user?.username}} </h1>
<app-chart *ngIf="param === 'all' && reclamations.length > 0"></app-chart>

<h1 class="title">{{ title }}</h1>

<mat-card>
  <mat-card-content class="filter">
    <mat-form-field>
      <input
        matInput
        (keyup)="Filterchange($event)"
        placeholder="Chercher une reclamation..."
        autofocus
      />
    </mat-form-field>
    <button
      class="add-reclamation"
      *ngIf="user?.role === 'client' && param === 'all'"
      (click)="createReclamation()"
      mat-raised-button
      color="warn"
    >
      Ajouter une reclamation
    </button>
  </mat-card-content>

  <mat-card-content>
    <div class="mat-elevation-z8 data-table">
      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Réference</th>
            <td mat-cell *matCellDef="let row">
              Réf N°{{ row._id[row._id.length - 3] + row._id[row._id.length - 2] + row._id[row._id.length - 1] }}
            </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sujet</th>
          <td mat-cell *matCellDef="let row">{{ row.subject }}</td>
        </ng-container>
        
        <ng-container matColumnDef="cin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cin Du Client
          </th>
          <td mat-cell *matCellDef="let row">
            <span class="masked-characters">*****</span>{{ row.cin_client }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.date }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Etat</th>
          <td mat-cell *matCellDef="let row" class="etat-cell">
            <i *ngIf="row.status === 'Traitée'" class="fa fa-check-circle" style="color : green;" ></i>
            <i *ngIf="row.status === 'En Attente'" class="fa fa-hourglass-half" style="color : orange;" ></i>
            <i *ngIf="row.status === 'Rejetée'" class="fa fa-times-circle" style="color : red;" ></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button
              (click)="editReclamation(row._id)"
              mat-raised-button
              color="primary"
            >
              {{ user?.role === 'client' ? 'Voir' : 'Editer' }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
