.title {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: xx-large;
}

mat-card {
  width: 70%;
  margin: auto;
}

th {
  background-color: rgb(34, 31, 31) !important;
  color: white;
}

mat-form-field {
  width: 100%;
}