<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<form [formGroup]="myForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>Réclamation N°{{data.id}}</h1>
  <div mat-dialog-content>
      <mat-form-field>
          <mat-label>Sujet</mat-label>
          <input matInput formControlName="subject" readonly/>
        </mat-form-field>
    <mat-form-field>
        <mat-label>Cin Du Client</mat-label>
        <input formControlName="cin" matInput readonly/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea style="height: 100px;" formControlName="description" matInput readonly></textarea>
    </mat-form-field>    
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" readonly/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Etat</mat-label>
        <mat-select 
          [value]="'default'" 
          panelClass="sort-select" 
          [disabled]="editData?.status != 'En Attente' || data?.userRole === 'client'" 
          (selectionChange)="onSelectChange($event)"
        >
            <mat-option value="default" *ngIf="editData?.status">{{editData?.status}}</mat-option>
            <mat-option value="Rejetée">Rejetée</mat-option>
            <mat-option value="Traitée">Traitée</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" *ngIf="data?.userRole !== 'client'" >Enregistrer</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Fermer</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>
