<form [formGroup]="myform" (ngSubmit)="Saveuser()">
  <h1 mat-dialog-title>Réclamation N°{{inputdata.id}}</h1>
  <div mat-dialog-content>
      <mat-form-field>
          <mat-label>Sujet</mat-label>
          <input matInput formControlName="subject" readonly/>
        </mat-form-field>
    <mat-form-field>
        <mat-label>Cin Du Client</mat-label>
        <input formControlName="cin" matInput readonly/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" readonly/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Etat</mat-label>
        <mat-select [value]="'default'" panelClass="sort-select" [disabled]="editdata.status !== 'En Attente'">
            <mat-option value="default">{{editdata.status}}</mat-option>
            <mat-option value="rejected">Rejetée</mat-option>
            <mat-option value="accepted">Traitée</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Cancel</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>
