<div class="content">
    <img src="../../assets/images/side-img.jpg" alt="side-img" id="side-img">
    <div class="right-side">
        <div class="form-container">
            <div class="header">
                <h1>Mesa Verde Bank</h1>
                <h2>Espace Agent</h2>
            </div>

            <form action="">
                <h2>Welcome Back</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <a href="" class="forgot-pass">Forgot Password ?</a>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>