<div class="content">
    <img src="../../assets/images/side-img.jpg" alt="side-img" id="side-img">
    <div class="form-container">
        <div class="header">

        </div>

        <form action="">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>

</div>
